<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTF</title>
    <link href="static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="message">
        <p><b>Hello Contestant!</b></p>
        <p>This challenge is a multi-stage challenge. You are required to solve four stages of crypto mini challenges. Be sure to make note of each correct input, as all four will make up the flag.</p>
        <p>Good Luck and click the button below to continue!</p>
        <form action="/stage1" method="GET">
            <button type="submit"><b>Continue</b></button>
        </form>
    </div>
</body>
</html>
