<!DOCTYPE html>
<html lang="en">
<head>
  <title>CTF</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" media="screen">
</head>

<header>
  <div class="banner">
    <img id="smallmq" src="https://papers.ssrn.com/sol3/journalcovers/2959078_25904.gif">
    <p id="smalluser">{{ currentUser }}</p>
    <form action="staffHome" method="post">
      <button class="logout" id="leftButton" type="submit"> Home </button>
    </form>
    <form action="logout" method="get">
      <button class="logout" id="rightButton" type="submit"> Logout </button>
    </form>
    <h1 id="ilearn"><span id="i"> i</span>Learn </h1>
  </div>
</header>

<body>
<div class="homecontainer" id="user">
  <h1 id="name"> Comp3850 Computing Industry Project</h1>
</div>

<div class="homecontainer" id="subjects">
  <div class="title">
    <b>Unit List</b>
    <div class="subjectlist">
      <p>This PACE unit draws together learning in previous units to prepare students for the workplace through engaging with a partner organisation. Students will work in close collaboration throughout the session with a community-based project sponsor that has provided the specifications for the work that needs to be completed. Students will work in self-managed teams to first understand the problem or opportunity identified the partner and then develop a project plan and scoping or requirements document. Students will create appropriate designs to solve a given problem, potentially delivering a software product or other outputs as needed by the sponsor. All projects will involve the development of supporting project documentation. The project requires an equal focus on process and the product, requiring the use of quality control and assurance methods, tools and techniques.</p>
      <p>On successful completion of this unit, you will be able to:</p>
      <p>ULO1: Critically analyse and describe the client's problem and apply principles, models, tool, techniques, technology and processes to provide a solution.</p>
      <p>ULO2: Demonstrate understanding of the project stages using appropriate process models in an authentic context</p>
      <p>ULO3: Apply the basic principles of project management and teamwork while working closely with the project's customer</p>
      <p>ULO4: Effectively Communicate results of the project (in both written and oral form)</p>
      <p>ULO5: Recognise and address ethical issues when they arise based on an understanding of professional ethics</p>
    </div>
    <br>
    <b>Unit Grades</b>
    <div class="subjectlist">
      <a href="gradebook" id="subjectlink"> Click here to access GradeBook </a>
    </div>
  </div>
</div>
<div class="homecontainer" id="advert">
  <img src="static/peter.png" id="logo">
  <h2><b> Professor Peter Mac </b></h2>
  <h3>Email: Peter.Mac@technology.mq.edu.au</h3>
  <h3>Staff id: 98765432</h3>
</div>
</body>

</html>
