<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/style.css" rel="stylesheet" type="text/css" />
        <title>CTF</title>
    </head>
    <body>
        <div class="welcome">
            <p id="welcomeMessage">
                Hello contestant and welcome to HackMac's Capture the Flag!!
                <br />
                To successfully find the flag, you must find where you can
                change your grade<br />
                Oh and you're failing by the way, if only there was some way to
                change that ;) <br /><br />
                Before we begin you will need to know your log in so please copy
                this down <br />
                Username: 45678909 <br />
                Password: Sup3rh4cker <br /><br />
            </p>
            <form name="continue" action="studLogin" method="post">
                <div class="center">
                    <button id="continue" type="submit">
                        Click here to continue
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
