<!DOCTYPE html>
<html lang="en">
<head>
  <title>CTF</title>
  <link href="static/style.css" rel="stylesheet" type="text/css">
</head>
<header>
  <img src="https://papers.ssrn.com/sol3/journalcovers/2959078_25904.gif" id="mq">
</header>
<body>
  <div class="heading">
    <h1> iLearn Login </h1>
  </div>
  <div class="loginContainer">
    <div class="container" id="left">
        {% if  failed == 1 %}
        <div id="failed" style="display: block;">
        {% else %}
        <div id="failed" style="display: none;">
        {% endif %}
            Oops! That didn't work, please try again.
        </div>
        <form name="login" action="" method="post">
        <label for='username' >UserName:</label>
        <input type='text' placeholder="Enter StudentId" name='username' id='username'/>

        <label for='password' >Password:</label>
        <input type='password' placeholder="Enter Password" name='password' id='password'/>

        <button id="login" type="submit">Log in</button>
        </form>
        <form action="staff" method="post">
        <button id="staff" type="submit"> Click here if you are Staff </button>
        </form>
        </div>

    <div class="container" id="right">
        <img src="static/macprotec.png" id="logo">
        <h2><b> You hack. We protect. </b></h2>
        <h2 id="line2"> Because at MacProtec your security is our passion.</h2>
        <div id="hint">
        <h3> Want a hint? </h3>
        </div>
        <div id="popup">
        Students can't change their grades but staff can. Where could you find details of a staff member?
        </div>
    </div>
  </div>
</body>
</html>

